<!-- Header -->
<nav class="navbar navbar-default custom-header" ng-show="menuVisible">
    <div class="container-fluid">
        <div class="navbar-header">
            <!--<a class="navbar-brand navbar-link" href="javascript:void(0)"><font-size:8px>{{pagename}}</font-size:8px></a>-->
            <div class="titlmenu">{{pagename}}</div>
            <!--<button class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse"></button>-->
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse"></div>
    </div>
</nav>
<!-- Header -->