
<section class="conteudo-lista page-transition" style="margin-top:-5%;" ng-controller="chamadoController">
    <div class="container">
        <div id="media-left"  ng-repeat="mychamado in chamadosVT" ng-click="lerchamadoVTSERVICE(mychamado)">
            <img src="images/Analiseemail.jpg" width="64" height="64" class="media-object" alt="64x64">PROTOCOLO: {{mychamado.solicitacao_id}} 
            <div class="media-body" ng-click="lerchamadoVTSERVICE(mychamado)" ng-if="mychamado.status === 'Em Análise' ">
                    <p class="media-heading">TIPO: {{mychamado.tipo_solicitacao}} </p>
                    <p class="lead text-uppercase text-danger">{{mychamado.observacao.substring(0,40)}}...</p>
                </div>
        </div>

            <!--<div class="media-left">
                <a href="#/aberturachamado/{{card.numero}}"><img src="{{card.imagem}}" width="64" height="64" class="media-object" alt="64x64"></a>
            </div>
            <div class="media-body">
                <h5 class="media-heading" ng-click="goChamadoDetalhe(card)">{{card.nome_item}} </h5>
                <p class="lead text-uppercase text-danger">{{card.numero}}</p>
            </div>-->


            <!-- se o callcenter nao respondeu e o status do chamado = Aberto e o cliente nao leu ai mostra o icone de atencao-->
            <!-- cliente leu, callcenter ñao respondeu , chamado aberto -->
            <div class="media-body" ng-click="lerchamadoVTSERVICE(mychamado)" ng-if="mychamado.status === 'Pendente'" >
                <h5 class="media-heading"><i class="fa fa-chevron-down naolido"></i> TIPO: {{mychamado.tipo_solicitacao}}</h5>
                <p class="lead text-uppercase text-danger assunt-disabled-bottom">PROTOCOLO: {{mychamado.solicitacao_id}} </p>
                <p class="lead text-uppercase text-danger assunt">{{mychamado.observacao.substring(0,40)}}...</p>
            </div>

            <!-- cliente leu, callcenter respondeu , chamado fechado -->
            <div class="media-body" ng-click="lerchamadoVTSERVICE(mychamado)" ng-if="mychamado.status === 'Finalizado' " >
                <h5 class="media-heading"><i class="fa fa-chevron-down lido"></i> TIPO: {{mychamado.tipo_solicitacao}}</h5>
                <p class="lead text-uppercase text-danger assunt-disabled-bottom">PROTOCOLO: {{mychamado.solicitacao_id}} </p>
                <p class="lead text-uppercase text-danger assunt">{{mychamado.observacao.substring(0,40)}}...</p>
            </div>

        </div>
    </div>
</section>

